$values: 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;
$values-px: 0, 25, 50, 75, 100, 125, 150, 175, 200, 225, 250, 275, 300, 325, 350, 375, 400;


@each $value in $values {
    .height-#{$value} {
        height:#{$value}+"%";
    }

    .width-#{$value} {
        width:#{$value}+"%";
    }
}

@each $value in $values-px {
    .height-#{$value}px {
        height:#{$value}+"px";
    }

    .width-#{$value}px {
        width:#{$value}+"px";
    }
}